.app-header {
  text-align: center;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

.card-title {
  text-align: center;
  font-size: 2em;
  color: #4f3674;
  font-weight: 400;
}

#value {
  text-align: center;
  font-size: 28px;
}
